<!Doctype html>

<html>

<head>
  <title>Weather</title>
  <link rel="icon" href="/img/Weather_Logo.png">
  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>use this site to get your weather!</p>

    <form>
      <input placeholder="Type a location">
      <button>Search</button>
    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>

    <img src="img/The_Blue_Marble.jpg" alt="earth">
  </div>

  {{>footer}}

  <script src="js/app.js"></script>
</body>

</html>